/* Written by: Matt Burman */

textarea{
  width: 100%;
}
.card > form{
  width: 100%;
  margin: 10px;
}

form input, form textarea{
  border-radius: 3px;
  padding: 5px;
}
form input:active, form textarea:active{
  border-color: #03A9F4;
  border-radius: 4px;
}
form input:hover, form textarea:hover{
  transition: background-color 0.5s ease;
  background-color: #F2F2F2;
}
form > .content > input{
  width: 50%;
}
form > *{
  margin-bottom: 10px;
}
.field input{
  width: 90%;
}
input[type=submit], input[type=reset]{
  padding: 5px 20px;
  width: 50%;
  background-color: #1976D2;
  font-size: 20px;
}

button, input, textarea{
  font-family: inherit;
  font-size: 100%;
}

@media screen and (min-width: 600px){
  .card > form{
    margin: 12px;
  }
  form > .field{
    width: 50%;
    text-align: center;
  }
}

@media screen and (min-width: 768px){
  .card > form{
    margin: 15px;
  }
  form > .content{
    width: 33%;
  }
  form > .field{
    width: 33%;
  }
}
